<header id="header" class="full-header">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger">
        <i class="icon-reorder"></i>
      </div>
      <div id="logo">
        <a href="/" class="standard-logo">
          <img src="/images/logo.svg" alt="Lisik.IT">
        </a>
      </div>
      <%- partial('navigation') %>
    </div>
  </div>
</header>
