<ul>
  <% routes.forEach((route) => { %>
  <li class="<%- page.path.includes(route.url.slice(1)) ? 'current' : '' %>">
    <a href="<%- url_for_lang(route.url) %>"><%- __(`data.menu.${route.id}`) %></a>
    <% if ( route.children) { %>
    <%- partial('menu', { routes: route.children, prefix }) %>
    <% } %>
  </li>
  <% }) %>
</ul>
